<h1>Top Artists</h1>

<p> 
  <% @artists.each do |artist| %>
  <div><%=link_to "#{artist.name}", artist_path(artist) %></div> 
</p>
<br>

<% end %>

<p><%= link_to "Add Artist", new_artist_path %></p>